<section class="leaderboard">
	<article id="movies">
	  <h1>Sky Movies! Nice!</h1>
	</article>
	<article id="sports">
	  <h1>Sports Are Fun!</h1>
	</article>
	<article id="generic">
	  <h1>Entertaining Stuff!</h1>
	</article>
</section>