<article id="movies">
  <h1>Buy Movies Now!!!!</h1>
  <img src="" />
</article>
<article id="sports">
  <h1>Sports are fun!</h1>
  <img src="" />
</article>
<article id="generic">
  <h1>Hot deals</h1>
  <img src="" />
</article>
